@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

* {
  user-select: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Oswald', sans-serif;
}


:root {
  /* White shades */
  --white: #fdfdfd;
  --white-2: #dedede;
  --white-3: #e0e0e0;

  /* Grey shades */
  --grey: #c8c8c8;
  --grey-2: #636363;
  --grey-3: #444;
  --grey-5: #212121;

  /* Black shades */
  --black: #0f0f0f;
  --black-2: #121212;
  --black-3: #15151539;
  
  /* Theme colors */
  --aqua: #7fffd4e2;
  --dark-aqua: #7fffd441;
}


footer {
  bottom: 0;
  padding-bottom: 1rem;
  position: fixed;
}

/* Dark h4 */
h4 {
  color: var(--black-2);
  opacity: 20%;

  text-transform: uppercase;
  letter-spacing: 0.4rem;
}


/* Body Dark */
body {
  background: var(--black-2);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  transition: all 0.5s ease-in-out;
}

/* Body Light */
body.active {
  background: var(--white);
}



/* Dark Button */
#button {
  position: relative;
  display: block;

  width: 20rem;
  height: 10rem;

  border-radius: 20rem;

  background: var(--grey-5);
  box-shadow:
    inset 0 0.2rem 0.2rem var(--grey-2),
    inset 0 0.3rem 0.2rem var(--black-3),
    inset 0 -0.1rem 0.5rem var(--grey-5),
    inset 0 -0.5rem 0.2rem var(--black);

  transition: all 0.5s ease;
}

#button .indicator {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;

  background: linear-gradient(to bottom, var(--grey-3), var(--grey-5));
  border-radius: 50%;
  border-bottom: 0.2rem solid var(--aqua);
  box-shadow:
    inset 0rem 0.2rem 0.1rem var(--white),
    inset 0rem 0rem 1rem var(--dark-aqua),
    0rem 0rem 0.5rem var(--black);
  ;

  transform: scale(0.9);

  transition: all 0.5s ease-in-out;
}



/* Light Button */
#button.active {
  background-color: var(--white);

  box-shadow:
    inset 0rem 0.1rem 0.1rem var(--white-2),
    inset 0rem 0rem 1rem var(--dark-aqua),
    0rem 0rem 0.5rem var(--grey);
  ;
}

#button.active .indicator {
  box-shadow:
    inset 0rem 0.25rem 0.1rem var(--white),
    inset 0rem 0rem 1rem var(--white-3),
    0rem 0rem 0.5rem var(--grey);

  border-bottom: 0.2rem solid var(--aqua);
  background: linear-gradient(to bottom, var(--white), var(--white-3));
  left: 10rem;
}